<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>用户登录</title>
    <link href="/web/admin/css/bootstrap3.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/web/admin/css/style/jasny-bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="/web/admin/js/bootstrap3.3/js/jquery.min.js"></script>
    <script src="/web/admin/js/bootstrap3.3/js/bootstrap.min.js"></script>
    <script src="/web/admin/js/jasny-bootstrap.min.js"></script>
    <script src="/web/admin/js/md5.js"></script>
    <script src="/web/admin/js/custom-utils.js"></script>
</head>
<body>
    Hello World!!
</body>
</html>